addfips==0.4.2
click==8.1.7
dash==2.18.1
dash_bootstrap_components==1.6.0
flask-caching==2.3.0
geopandas==1.0.1
h5py==3.12.1
NREL-reV==0.9.4
numpy==1.24.4
pandarallel==1.6.5
Pint==0.24.3
pyarrow==17.0.0
pygeopkg==0.1.3
pyproj==3.7.0
pytest==8.3.3
python-dotenv==1.0.1
scikit_learn==1.5.2
scipy==1.14.1
selenium==4.25.0
setuptools==75.1.0
shapely==2.0.6
tqdm==4.66.5
us==3.2.0
xarray==2024.9.0
xesmf==0.8.7
xlrd==2.0.1
